/* reiniciando documento */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* estilizando o conteudo do site */
main {
    background-color: #1a1a1a;
    width: 100vw;
    height: 100vh;
    color: #fff;

    /* Centralizando o container no centro da página */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* estilizando a section que armazena as informações */
.container-sec-center{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* estilizando o input de nome */
.container-sec-center > input{
    width: 100%;
    max-width: 250px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 6px;
    background-color: #1c1c1c;
    color: #fff;
    transition: border-color 0.3s ease-in-out;
    margin-left: 0.5rem;
}

/* estilizando o caso do input estar selecionado */
.container-sec-center > input:focus{
    border-color: #1abc9c;
    outline: none;
}

/* estilizando o botao de acessar */
.container-sec-center > button{
    width: 8vw;
    height: 6vh;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

/* quando o mouse passar por cima do botão */
.container-sec-center > button:hover{
    background-color: #2980b9;
    transform: scale(1.1);
}

/* quando o botão for clicado */
.container-sec-center > button:active{
    transform: scale(0.95);
}