<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/feedback.css">
    <title>Feedback de uso do site</title>
</head>
<body>

    <div class="box">
        <p>Gostou do meu site?</p>

        <div class="buttons-container">
            <button class="btn" onclick="sim()">
                <a href="#">Sim</a>
            </button>
            <button class="btn" id="nao">Não</button>
        </div>
    </div>

    <script src="../assets/js/feedback.js" defer></script>

</body>
</html>
